@keyframes fadeHorizontal {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.card:hover {
  outline: 1px solid;
  box-shadow: 0 0 20px 5px grey;
  cursor: pointer;
}

.animatedFadeHorizontal {
  animation: fadeHorizontal 1s ease;
}

.iconProject {
  color: var(--ion-color-success)
}

.suptitleCard {
  span {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    width: 100%;
    align-items: center;
  }
}

.bloom {
  filter: drop-shadow(0px 0px 6px);
  transition: 1s ease;
}

.bloom:hover {
  transform: scale(1.2);
}

.danger {
  color: var(--ion-color-danger) !important;
}

.warning {
  color: var(--ion-color-warning) !important;
}

.configProject {
  border-radius: 2rem;
  box-shadow: 0 0 10px 0px var(--ion-color-warning) !important;
  width: 14rem;
  text-align: center;
}

.title {
  text-align: center;
  color: var(--ion-color-secondary) !important;
  border-bottom: 1px var(--ion-color-medium) solid;
}

.containerInfo {
  display: flex;
  flex-wrap: wrap;
}