@keyframes fadeHorizontal {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animatedFadeHorizontal {
  animation: fadeHorizontal 1s ease;
}

.iconProject {
  color: var(--ion-color-success)
}

.suptitleCard {
  span {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
  }
}