@keyframes fadeHorizontal {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.card:hover {
  outline: 1px solid;
  box-shadow: 0 0 20px 5px grey;
  cursor: pointer;
}

.animatedFadeHorizontal {
  animation: fadeHorizontal 1s ease;
}

.iconProject {
  color: var(--ion-color-success)
}

.suptitleCard {
  span {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    width: 100%;
    align-items: center;
  }
}

.bloom {
  filter: drop-shadow(0px 0px 6px);
  transition: 1s ease;
}

.bloom:hover {
  transform: scale(1.2);
}

.danger {
  color: var(--ion-color-danger) !important;
}

.edit {
  color: var(--ion-color-warning) !important;
}

.warning {
  --border-color: var(--ion-color-warning) !important;
  --ripple-color: var(--ion-color-warning) !important;
  --border-style: solid !important;
  --border-width: 1px !important;
  color: var(--ion-color-warning) !important;
}

.success {
  --border-color: var(--ion-color-success) !important;
  --ripple-color: var(--ion-color-success) !important;
  --border-style: solid !important;
  --border-width: 1px !important;
  color: var(--ion-color-success) !important;
}

.secondary {
  --border-color: var(--ion-color-warning) !important;
  --ripple-color: var(--ion-color-warning) !important;
  --border-style: solid !important;
  --border-width: 1px !important;
  color: var(--ion-color-secondary) !important;
}

.configProjectNotStarted {
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px var(--ion-color-warning) !important;
  width: fit-content;
  text-align: center;
  border: 1px solid var(--ion-color-warning);
}

.configProjectSuccess {
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px var(--ion-color-success) !important;
  width: fit-content;
  text-align: center;
  border: 1px solid var(--ion-color-success);
}

.configProjectInProgress {
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px var(--ion-color-secondary) !important;
   width: fit-content;
  text-align: center;
  border: 1px solid var(--ion-color-secondary);
}

.title {
  text-align: center;
  color: var(--ion-color-secondary) !important;
  border-bottom: 1px var(--ion-color-medium) solid;
}

.containerInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  align-items: flex-start;
}

.select {
  color: var(--ion-color-dark-contrast);
  border-radius: 1rem;
  transition: 1s all ease !important;
}

.select:open {
  transition: 1s all ease !important;
}

.backButton {
  align-self: flex-start;
  padding-inline: 1rem;
}