.reset-title {
  color: white;
}

.otp-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-card {
    background-color: var(--card);
    color: var(--foreground);
    padding: 2rem;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(52, 51, 51, 0.25);
    width: 100%;
    max-width: 360px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        margin-bottom: 0.25rem;
        font-size: 1.5rem;
    }

    p {
        margin-bottom: 1.5rem;
        font-size: 0.9rem;
        color: var(--muted-foreground);
    }
}

.otp-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 1rem;
    border-radius: 50%;
    border: 3px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--primary);
}

.otp-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1.5rem;
}

.otp-box {
    width: 45px;
    height: 55px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: 2px solid var(--border);
    border-radius: 10px;
    background-color: #29313b;
    color: var(--foreground);
}

.otp-box:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 8px rgba(229, 229, 231, 0.3);
}

.otp-button {
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 480px) {
    .otp-box {
        width: 40px;
        height: 50px;
        font-size: 20px;
    }

    .otp-card {
        padding: 1.5rem;
        min-height: 360px;
    }
}