.userField {
  width: 40rem;
  height: 50dvh;
  border: var(--ion-color-primary) 1px solid;
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px var(--ion-color-secondary) !important;
}

.userItem:hover {
  cursor: pointer;
}

.userItem {
  cursor: pointer;
  outline: 1px solid var(--ion-color-primary);
  border-radius: 1rem;
  margin-block: 1rem;
  margin-inline: 0.1rem;
  font-size: small;
  text-align: center;
}

.cardImg {
  max-width: 20%;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: large;
}

.content::-webkit-scrollbar-thumb {
  display: none;
}

.listSearchbar {
  overflow: auto;
  position: relative;
  animation: fadeInVertical 1s ease;
  transition: 1s ease;
}

@keyframes fadeInVertical {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.progressBarSuccess {
  --ion-color-primary: var(--ion-color-success);
}

.progressBarWarning {
  --ion-color-primary: var(--ion-color-warning);
}

.progressBarDanger {
  --ion-color-primary: var(--ion-color-danger);
}

.buttonDeleteColor {
  color: var(--ion-color-danger) !important;
  outline: 1px solid;
  padding: 1rem;
  background: unset;
  border-radius: 1rem;
}

.buttonEditColor {
  color: var(--ion-color-warning) !important;
  outline: 1px solid;
  padding: 1rem;
  background: unset;
  border-radius: 1rem;
}

.buttonDeleteColor:hover {
  background-color: rgb(var(--ion-color-danger-rgb), 0.5);
}

.buttonEditColor:hover {
  background-color: rgb(var(--ion-color-warning-rgb), 0.5);
}