.sprintsField {
  margin: auto;
  width: auto;
  display: flex;
  border: var(--ion-color-primary) 1px solid;
  border-radius: 1rem;
  transition: 1s ease;
  interpolate-size: allow-keywords;
  box-shadow: 0 0 10px 2px var(--ion-color-secondary) !important;
  margin-block: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.graph {
  height: auto !important;
  flex: 1;
}