.proyectField {
  width: 40rem;
  height: 6dvh;
  border: var(--ion-color-primary) 1px solid;
  border-radius: 1rem;
  box-shadow: 0 0 10px 2px var(--ion-color-secondary) !important;
}
.danger{
  color: var(--ion-color-danger);
}
.success{
 color: var(--ion-color-success);
}
.warning{
 color: var(--ion-color-warning);
}