.imageContact {
  margin: auto;
  display: block;
  object-fit: cover;
  object-position: center;
  height: 30rem;
}

.containerItem {
  transition : 1s all ease;
}

@media(min-width: 1024px) {
  .containerItem {
    padding-inline: 25%;
  }
}
@media(min-width: 768px) and (max-width: 1023px){
  .containerItem {
    padding-inline: 5rem;
  }
}

.colorPrimary{
  color:var(--ion-color-secondary)
}

.animationEnter {
  transition: 1.5s all ease-in-out;
  animation: enter 1.5s ease-in-out;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}