/* Loading container */
.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  color: var(--ion-color-light);
}

.loadingText {
  margin-top: 1rem;
  font-size: 1rem;
  opacity: 0.8;
  color: white;
}