.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  justify-content: space-between;
}

.headerItems {
  display: flex;
  gap: 2rem;
}

.headerTitle {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.headerLink:hover {
  text-decoration: underline;
}