.register-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #1a1a1a;
}

.register-col {
  text-align: center;
}

.register-title {
  color: white;
}

.register-input {
  margin-top: 20px;
  text-align: left;
}

.password-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.password-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.register-button {
  margin-top: 20px;
  color: black;
  font-weight: 500;
}

.avatar-circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin: 0 auto 1rem auto;
  border: 2px dashed #ccc;
  background-color: #f0f0f0;
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-circle:hover {
  border-color: #4a90e2;
  transform: scale(1.05);
}

.avatar-icon {
  color: #aaa;
  font-size: 2.5rem;
}
