.userprographField {
    min-width: fit-content;
    height: 70dvh;
    border: var(--ion-color-primary) 1px solid;
    border-radius: 1rem;
    box-shadow: 0 0 10px 2px var(--ion-color-secondary) !important;
    margin: 2rem auto;
    background: var(--ion-background-color, #121212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

@keyframes fadeInVertical {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.chartContainer {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noData {
    text-align: center;
    font-size: 1rem;
    color: #777;
    margin-top: 2rem;
    font-style: italic;
    animation: fadeInVertical 0.6s ease-in-out;
}