.animationEnter {
  transition: 1.5s all ease-in-out;
  animation: enter 1.5s ease-in-out;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.underline{
  text-decoration: underline;
}

.justifyText {
  text-align: justify;
}

.centerText {
  text-align: center;
}

.buttonAcept {
  margin: auto;
  display: block;
  width: fit-content;
}
